{% extends 'base.html.twig' %}
{% block body %}
    {{ include('app/components/navbar.html.twig') }}

<header class="event-header text-center">
    <div class="container">
        <h1>{{ event.name }}</h1>
        <p class="lead">{{ event.startDate|date('Y-m-d')}} - {{ event.startTime|date('H:i') }}</p>
    </div>
</header>

<section class="event-details py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% if event.location is defined and event.location is not empty %}
                <h2>Event Location</h2>
                <p class="lead">{{ event.location}}</p>
                {% endif %}
                <div class="event-description">
                    {{ event.description|raw }}
                </div>
            </div>
            <div class="col-lg-4">
                <img src="https://picsum.photos/400/400" alt="Event Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

    {{ include('app/components/footer.html.twig') }}
{% endblock %}
