{{ form_start(form) }}
{{ form_errors(form) }}

<div class="col-12">
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        <div class="form-error text-danger">
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.roles) }}
        <div>
            {% for role in form.roles %}
                <div class="form-check-inline">
                    {{ form_widget(role, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(role, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 d-flex justify-content-between">
        <div>
            <button type="submit" class="btn btn-primary btn-custom" name="submit">{{ button_label|default('Save') }}</button>
            <button type="reset" class="btn btn-secondary btn-custom" onclick="window.location.href = '{{ path('admin_users_list')}}'">Cancel</button>
        </div>
    </div>
</div>
{{ form_end(form) }}




