{% extends 'dashboard/base.html.twig' %}

{% block title %}Hello UserAdminController!{% endblock %}

{% block content %}
{#    <h1>User Administration</h1>#}
    <table id="users-table" class="display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <!-- Add any action buttons or links here -->
                    <a href="{{ path('admin_users_create') }}">Add</a>
                    <a href="{{ path('admin_users_edit', { 'id': user.id }) }}">Edit</a>
                    <a href="{{ path('admin_users_delete', { 'id': user.id }) }}" >Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
