{% extends 'dashboard/base.html.twig' %}

{% block title %}Hello UserAdminController!{% endblock %}



{% block main %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users</h1>

        <a href="{{ path('admin_users_create') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="bi bi-person-plus-fill m-lg-1"></i>Add User</a>
    </div>

    <table id="users-table" class="display">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <!-- Add any action buttons or links here -->
                    <a href="{{ path('admin_users_show', { 'id': user.id }) }}">Show</a>
                    <a href="{{ path('admin_users_edit', { 'id': user.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
