{% extends 'dashboard/base.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles|join(', ') }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between">
            <div>
                <a href="{{ path('admin_users_edit', {id: user.id}) }}"  class="btn btn-primary btn-custom" name="submit">Edit</a>
                <a  class="btn btn-secondary btn-custom" onclick="window.location.href = '{{ path('admin_users_list')}}'">Cancel</a>
            </div>
            <a type="button" class="btn btn-danger btn-custom " data-bs-toggle="modal" data-bs-target="#delete-modal_{{ user.id }}">Delete</a>
            {{ include('dashboard/components/users/modal-delete.html.twig') }}
        </div>
    </div>
{% endblock %}
