{{ form_start(form) }}
{{ form_errors(form) }}

<div class="col-12">
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.bio) }}
        {{ form_widget(form.bio, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>


<div class="row mt-3">
    <div class="col-12 d-flex">
        <div>
            <button type="submit" class="btn btn-primary btn-custom" name="submit">{{ button_label|default('Save') }}</button>
            <button type="reset" class="btn btn-secondary btn-custom" onclick="window.location.href = '{{ path('admin_artists_list')}}'">Cancel</button>
        </div>
    </div>
</div>


<hr class="my-4">

{% macro artworksForm(form) %}

    <div class="jumbotron">
        <div class="container">
            <div class="card card-custom">
                <div class="card-body d-flex flex-column">

                    <div class="col-md-12 mb-3">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.imageFile) }}
                                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-danger mt-2 delete-form-button"><i class="bi bi-x-square"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ form_end(form) }}
{% endmacro artworksForm %}
{% import _self as formMacros %}

    <div class="artworks mt-3 mb-3 "
         data-index="{{ form.artwork|length > 0 ? form.artwork|last.vars.name + 1 : 0 }}"
         data-prototype="{{ formMacros.artworksForm(form.artwork.vars.prototype)|e('html_attr') }}">

    </div>


<div class="d-flex justify-content-end">
    <button type="button" class="add_item_link btn btn-success" data-collection-holder-class="artworks">Add a artwork</button>
</div>


{% if form.artwork|length > 0 %}
<div class="container">
    <h2>Artworks</h2>
    <div class="row">
        {% for item in form.artwork %}
            <div class="col-md-4 mb-3 card-container">
                <div class="card card-custom">
                    <div class="card-body d-flex flex-column">
                        <div class="form-group">
                            {{ form_label(item.name) }}
                            {{ form_widget(item.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(item.imageFile) }}
                            {{ form_widget(item.imageFile, {'attr': {'class': 'form-control'}}) }}
                            {{ include('dashboard/components/image-preview-modal.html.twig') }}
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger mt-2 delete-form-button"><i class="bi bi-x-square"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{{ form_end(form) }}



