{% extends 'dashboard/base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block main %}
    <h1>Artist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ artist.name }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ artist.bio }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between">
            <div>
                <a href="{{ path('admin_artists_edit', {id: artist.id}) }}"  class="btn btn-primary btn-custom" name="submit">Edit</a>
                <a  class="btn btn-secondary btn-custom" onclick="window.location.href = '{{ path('admin_artists_list')}}'">Cancel</a>
            </div>
            <a type="button" class="btn btn-danger btn-custom " data-bs-toggle="modal" data-bs-target="#delete-modal_{{ artist.id }}">Delete</a>
            {{ include('dashboard/components/artists/modal-delete.html.twig') }}
        </div>
    </div>
{% endblock %}
