{% extends 'base.html.twig' %}

{% block body %}
    {{ include('app/components/navbar.html.twig') }}

    <!-- First Section: Logo -->
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center  w-75 ">
        <img id="logo" src="https://i.ibb.co/D5Wj6fK/logo.png" alt="Logo" class="img-fluid mb-">
    </div>

    <!-- Second Section: Page content -->
    <div id="content-section" class="container mt-5">
        <div class="text-center mt-5">
            <h1>A Bootstrap 5 Starter Template</h1>
            <p class="lead">A complete project boilerplate built with Bootstrap</p>
            <p>Bootstrap v5.2.3</p>
        </div>

        <!-- Artists Grid -->
        <div class="d-flex flex-wrap justify-content-center" id="artists-grid">
            {% for artist in artists %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4 m-lg-1 grid-item">
                    <div id="carousel-artists_{{ artist.id }}" class="carousel slide" data-artist-id="{{ artist.id }}" data-bs-ride="carousel" data-bs-interval="{{ random(5000, 10000) }}">
                        <div class="carousel-inner">
                            {% for artwork in artist.artwork %}
                                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">

                                        <img src="{{ vich_uploader_asset(artwork) }}" class="d-block w-100" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{{ path('app_artist', {'id': artist.id}) }}">
                        <div class="overlay">
                            <div class="text">{{ artist.name }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ include('app/components/footer.html.twig') }}
{% endblock %}
